<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />

        <section class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'PERGASHA.Name' }}" />
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel" title="{{multiclassLabels}}">
                    <label>{{ localize "PERGASHA.Level" }} {{data.details.level}}</label>
                    <span class="levels">{{classLabels}}</span>
                </div>

                {{#unless disableExperience}}
                <div class="experience flexrow">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" placeholder="0"
                        data-dtype="Number" />
                    <span class="sep">/</span>
                    <span class="max">{{data.details.xp.max}}</span>
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                {{/unless}}
            </aside>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li>
                    <input type="text" name="data.details.race" value="{{data.details.race}}"
                        placeholder="{{ localize 'PERGASHA.Race' }}" />
                </li>
                <li class="flexrow">
                    <span>{{localize "PERGASHA.Focus"}}</span>
                    <select name="data.attributes.psionics.activeFocus" style="margin-right: 5px;">
                        {{#select data.attributes.psionics.activeFocus}}
                        <option value="">None</option>
                        {{#each (focusArray psionics) as |focus|}}
                        <option value="{{focus.name}}">{{focus.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </li>
                <!-- <li>
                    <input type="text" name="data.details.background" value="{{data.details.background}}"
                        placeholder="{{ localize 'PERGASHA.Background' }}" />
                </li>
                <li>
                    <input type="text" name="data.details.alignment" value="{{data.details.alignment}}"
                        placeholder="{{ localize 'PERGASHA.Alignment' }}" />
                </li> -->
                <li class="proficiency">
                    <span>{{ localize "PERGASHA.Proficiency" }} {{numberFormat data.attributes.prof decimals=0
                        sign=true}}</span>
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "PERGASHA.HitPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                            placeholder="10" data-dtype="Number" />
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                            placeholder="10" data-dtype="Number" />
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.attributes.hp.temp" type="text" class="temphp"
                            placeholder="+{{ localize 'PERGASHA.Temp' }}" value="{{data.attributes.hp.temp}}"
                            data-dtype="Number" />
                        <input name="data.attributes.hp.tempmax" type="text" class="temphp"
                            placeholder="+{{ localize 'PERGASHA.Max' }}" value="{{data.attributes.hp.tempmax}}"
                            data-dtype="Number" />
                    </footer>
                </li>

                <li class="attribute hit-dice">
                    <h4 class="attribute-name box-title">
                        {{ localize "PERGASHA.HitDice" }}
                        <a class="config-button" data-action="hit-dice" title="{{localize 'PERGASHA.HitDiceConfig'}}"><i
                                class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value multiple">
                        <label class="hit-dice">{{data.attributes.hd}} <span class="sep"> / </span>
                            {{data.details.level}}</label>
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest short-rest">{{ localize "PERGASHA.RestS" }}</a>
                        <a class="rest long-rest">{{ localize "PERGASHA.RestL" }}</a>
                    </footer>
                </li>

                <li class="attribute">
                    <h4 class="attribute-name box-title">{{ localize "PERGASHA.ArmorClass" }} / {{ localize
                        "PERGASHA.MentalAC"}}</h4>
                    <div class="attribute-value">
                        <input name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}"
                            placeholder="10" />
                        <span> / </span>
                        <input name="data.attributes.ac.mental" type="number" value="{{data.attributes.ac.mental}}"
                            placeholder="10" />
                    </div>
                    <!-- <footer class="attribute-footer">
                        <span class="spell-dc">{{localize "PERGASHA.SpellDC"}} {{data.attributes.spelldc}}</span>
                    </footer> -->
                    <footer class="attribute-footer">
                        <span class="psionics-dc">{{localize "PERGASHA.PsionicsDC"}}
                            {{data.attributes.psionics.psionicsdc}}</span>
                    </footer>
                </li>

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "PERGASHA.Movement" }}
                        <a class="config-button" data-action="movement"
                            title="{{localize 'PERGASHA.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>

                <li class="attribute initiative">
                    <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize
                        "PERGASHA.Initiative" }}</h4>
                    <div class="attribute-value">
                        <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{ localize "PERGASHA.Modifier" }}</span>
                        <input name="data.attributes.init.value" type="text" data-dtype="Number" placeholder="0"
                            value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}" />
                    </footer>
                </li>
            </ul>
        </section>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="attributes">{{ localize "PERGASHA.Attributes" }}</a>
        <a class="item" data-tab="inventory">{{ localize "PERGASHA.Inventory" }}</a>
        <a class="item" data-tab="features">{{ localize "PERGASHA.Features" }}</a>
        <!-- <a class="item" data-tab="spellbook">{{ localize "PERGASHA.Spellbook" }}</a> -->
        <a class="item" data-tab="psionics">{{ localize "PERGASHA.Psionics" }}</a>
        <a class="item" data-tab="effects">{{ localize "PERGASHA.Effects" }}</a>
        <a class="item" data-tab="biography">{{ localize "PERGASHA.Biography" }}</a>
        <a class="item" data-tab="journal">{{ localize "PERGASHA.Journal" }}</a>
    </nav>

    {{!-- Character Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

            {{!-- Ability Scores --}}
            <ul class="ability-scores flexrow">
                {{#each data.abilities as |ability id|}}
                <li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
                    <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
                    <input class="ability-score" name="data.abilities.{{id}}.value" type="number"
                        value="{{ability.value}}" placeholder="10" />
                    <div class="ability-modifiers flexrow">
                        <span class="ability-mod" title="{{ localize 'PERGASHA.Modifier' }}">{{numberFormat ability.mod
                            decimals=0 sign=true}}</span>
                        <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}"
                            data-dtype="Number" />
                        <a class="proficiency-toggle ability-proficiency"
                            title="{{ localize 'PERGASHA.Proficiency' }}">{{{ability.icon}}}</a>
                        <span class="ability-save" title="{{ localize 'PERGASHA.SavingThrow' }}">{{numberFormat
                            ability.save decimals=0 sign=true}}</span>
                    </div>
                </li>
                {{/each}}
            </ul>

            {{!-- Skills --}}
            <ul class="skills-list">
                {{#each config.skills as |label s|}}
                {{#with (lookup ../data.skills s) as |skill|}}
                <li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" />
                    <a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                    <h4 class="skill-name rollable">{{label}}</h4>
                    <span class="skill-ability">{{skill.ability}}</span>
                    <span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
                    <span class="skill-passive">({{skill.passive}})</span>
                </li>
                {{/with}}
                {{/each}}
            </ul>

            <section class="center-pane flexcol">

                {{!-- Body Attributes --}}
                <ul class="attributes flexrow">
                    {{#each resources as |res|}}
                    <li class="attribute resource">
                        <h4 class="attribute-name box-title">
                            <input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}"
                                placeholder="{{res.placeholder}}" />
                        </h4>
                        <div class="attribute-value">
                            <label class="recharge checkbox flexcol">
                                <span>{{ localize "PERGASHA.AbbreviationSR" }}</span><input
                                    name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}} />
                            </label>

                            <input name="data.resources.{{res.name}}.value" type="number" value="{{res.value}}"
                                placeholder="0" />
                            <span class="sep"> / </span>
                            <input name="data.resources.{{res.name}}.max" type="number" value="{{res.max}}"
                                placeholder="0" />

                            <label class="recharge checkbox flexcol">
                                <span>{{ localize "PERGASHA.AbbreviationLR" }}</span><input
                                    name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}} />
                            </label>
                        </div>
                    </li>
                    {{/each}}
                </ul>

                {{!-- Counters --}}
                <div class="counters">
                    <div class="counter flexrow death-saves">
                        <h4 class="rollable" data-action="rollDeathSave">{{ localize "PERGASHA.DeathSave" }}</h4>
                        <div class="counter-value">
                            <i class="fas fa-check"></i>
                            <input name="data.attributes.death.success" type="number" placeholder="0"
                                value="{{data.attributes.death.success}}" />
                            <i class="fas fa-times"></i>
                            <input name="data.attributes.death.failure" type="number" placeholder="0"
                                value="{{data.attributes.death.failure}}" />
                        </div>
                    </div>
                    <div class="counter flexrow exhaustion">
                        <h4>{{ localize "PERGASHA.Exhaustion" }}</h4>
                        <div class="counter-value">
                            <select name="data.attributes.exhaustion">
                                {{#select data.attributes.exhaustion}}
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                {{/select}}
                            </select>
                        </div>


                    </div>
                    {{#if data.attributes.exhaustion}}
                    <div class="flexrow exhaustion-effects">
                        <ul>
                            {{#displayEffects data.attributes.exhaustion "exhaustion"}}{{/displayEffects}}
                        </ul>
                    </div>
                    <hr>
                    {{/if}}
                    <div class="counter flexrow fatigue">
                        <h4>{{ localize "PERGASHA.Fatigue" }}</h4>
                        <div class="counter-value">
                            <select name="data.attributes.fatigue">
                                {{#select data.attributes.fatigue}}
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                {{/select}}
                            </select>
                        </div>

                    </div>
                    {{#if data.attributes.fatigue}}
                    <div class="flexrow fatigue-effects">
                        <ul>
                            {{#displayEffects data.attributes.fatigue "fatigue"}}{{/displayEffects}}
                        </ul>
                    </div>
                    <hr>
                    {{/if}}
                    <div class="counter flexrow inspiration" style="margin-top:5px">
                        <h4>{{ localize "PERGASHA.Inspiration" }}</h4>
                        <button class="inspirationMinus" type="button">-</button>
                        <div class="counter-value inspiration-bubbles">
                            {{#inspirationCounter data.attributes.inspiration}}{{/inspirationCounter}}
                            <!-- <input type="number" name="data.attributes.inspiration" placeholder="0"
                                value="{{data.attributes.inspiration}}" /> -->
                        </div>
                        <button class="inspirationPlus" type="button">+</button>
                    </div>
                </div>

                {{!-- Traits --}}
                {{> "systems/pergashaFoundryvtt/templates/actors/parts/actor-traits.html"}}
            </section>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
            {{> "systems/pergashaFoundryvtt/templates/actors/parts/actor-inventory.html" sections=inventory}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features flexcol" data-group="primary" data-tab="features">
            {{> "systems/pergashaFoundryvtt/templates/actors/parts/actor-features.html" sections=features}}
        </div>

        <!-- {{!-- Spellbook Tab --}}
        <div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
            {{> "systems/pergashaFoundryvtt/templates/actors/parts/actor-spellbook.html"}}
        </div> -->

        {{!-- Psionics Tab --}}
        <div class="tab psionics flexcol" data-group="primary" data-tab="psionics">
            {{> "systems/pergashaFoundryvtt/templates/actors/parts/actor-psionics.html"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/pergashaFoundryvtt/templates/actors/parts/active-effects.html"}}
        </div>

        <!-- {{!-- Biography Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="biography">
            <div class="characteristics flexcol">
                <label>{{ localize "PERGASHA.Appearance" }}</label>
                <textarea name="data.details.appearance">{{data.details.appearance}}</textarea>
                <label>{{ localize "PERGASHA.PersonalityTraits" }}</label>
                <textarea name="data.details.trait">{{data.details.trait}}</textarea>
                <label>{{ localize "PERGASHA.Ideals" }}</label>
                <textarea name="data.details.ideal">{{data.details.ideal}}</textarea>
                <label>{{ localize "PERGASHA.Bonds" }}</label>
                <textarea name="data.details.bond">{{data.details.bond}}</textarea>
                <label>{{ localize "PERGASHA.Flaws" }}</label>
                <textarea name="data.details.flaw">{{data.details.flaw}}</textarea>
            </div>
            <div class="biography">
                {{editor content=data.details.biography.value target="data.details.biography.value" button=true
                owner=owner editable=editable rollData=rollData}}
            </div>
        </div> -->

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">
            <div class="top-notes note-entries">
                <article>
                    <ul class="character-details">
                        <li><span>{{ localize "PERGASHA.Gender" }}:</span><span {{#if owner}}contenteditable="true"
                                {{/if}} spellcheck="false" data-target="{{actor._id}}-gender"
                                data-maxlength="40">{{data.details.gender}}</span><input
                                data-input="{{actor._id}}-gender" type="hidden" name="data.details.gender"
                                value="{{data.details.gender}}"></li>
                        <li><span>{{ localize "PERGASHA.Age" }}:</span><span {{#if owner}}contenteditable="true" {{/if}}
                                spellcheck="false" data-target="{{actor._id}}-age"
                                data-maxlength="5">{{data.details.age}}</span><input data-input="{{actor._id}}-age"
                                type="hidden" name="data.details.age" value="{{data.details.age}}"></li>
                        <li><span>{{ localize "PERGASHA.Height" }}:</span><span {{#if owner}}contenteditable="true"
                                {{/if}} spellcheck="false" data-target="{{actor._id}}-height"
                                data-maxlength="20">{{data.details.height}}</span><input
                                data-input="{{actor._id}}-height" type="hidden" name="data.details.height"
                                value="{{data.details.height}}"></li>
                        <li><span>{{ localize "PERGASHA.Weight" }}:</span><span {{#if owner}}contenteditable="true"
                                {{/if}} spellcheck="false" data-target="{{actor._id}}-weight"
                                data-maxlength="20">{{data.details.weight}}</span><input
                                data-input="{{actor._id}}-weight" type="hidden" name="data.details.weight"
                                value="{{data.details.weight}}"></li>
                        <li><span>{{ localize "PERGASHA.Eyes" }}:</span><span {{#if owner}}contenteditable="true"
                                {{/if}} spellcheck="false" data-target="{{actor._id}}-eyes"
                                data-maxlength="40">{{data.details.eyes}}</span><input data-input="{{actor._id}}-eyes"
                                type="hidden" name="data.details.eyes" value="{{data.details.eyes}}"></li>
                        <li><span>{{ localize "PERGASHA.Skin" }}:</span><span {{#if owner}}contenteditable="true"
                                {{/if}} spellcheck="false" data-target="{{actor._id}}-skin"
                                data-maxlength="40">{{data.details.skin}}</span><input data-input="{{actor._id}}-skin"
                                type="hidden" name="data.details.skin" value="{{data.details.skin}}"></li>
                        <li><span>{{ localize "PERGASHA.Hair" }}:</span><span {{#if owner}}contenteditable="true"
                                {{/if}} spellcheck="false" data-target="{{actor._id}}-hair"
                                data-maxlength="40">{{data.details.hair}}</span><input data-input="{{actor._id}}-hair"
                                type="hidden" name="data.details.hair" value="{{data.details.hair}}"></li>
                    </ul>
                </article>
            </div>
            <div class="left-notes note-entries">
                <article>
                    <div class="section-titles biopage">{{ localize "PERGASHA.PersonalityTraits" }}</div>
                    {{editor content=data.details.trait target="data.details.trait" button=true owner=owner
                    editable=editable}}
                </article>
                <article>
                    <div class="section-titles biopage">{{ localize "PERGASHA.Ideals" }}</div>
                    {{editor content=data.details.ideal target="data.details.ideal" button=true owner=owner
                    editable=editable}}
                </article>
                <article>
                    <div class="section-titles biopage">{{ localize "PERGASHA.Bonds" }}</div>
                    {{editor content=data.details.bond target="data.details.bond" button=true owner=owner
                    editable=editable}}
                </article>
                <article>
                    <div class="section-titles biopage">{{ localize "PERGASHA.Flaws" }}</div>
                    {{editor content=data.details.flaw target="data.details.flaw" button=true owner=owner
                    editable=editable}}
                </article>
            </div>

            <div class="right-notes note-entries">
                <article>
                    <div class="section-titles biopage">{{ localize "PERGASHA.Appearance" }}</div>
                    {{editor content=data.details.appearance target="data.details.appearance" button=true owner=owner
                    editable=editable}}
                </article>
                <article class="biography-notes">
                    <div class="section-titles">{{ localize "PERGASHA.Background" }}/{{ localize "PERGASHA.Biography" }}
                    </div>
                    {{editor content=data.details.biography.value target="data.details.biography.value" button=true
                    owner=owner
                    editable=editable}}
                </article>
            </div>

        </div>

        {{!-- Journal Tab --}}
        <div class="tab journal" data-group="primary" data-tab="journal">
            <div class="left-notes note-entries">
                <article>
                    <div class="section-titles">
                        <input type="text" name="data.details.notes1name" value="{{data.details.notes1name}}"
                            placeholder="{{ localize 'PERGASHA.JournalPoi' }}" />
                    </div>
                    {{editor content=data.details.notes1.value target="data.details.notes1.value" button=true
                    owner=owner
                    editable=editable}}
                </article>
                <article>
                    <div class="section-titles">
                        <input type="text" name="data.details.notes2name" value="{{data.details.notes2name}}"
                            placeholder="{{ localize 'PERGASHA.JournalLoi' }}" />
                    </div>
                    {{editor content=data.details.notes2.value target="data.details.notes2.value" button=true
                    owner=owner
                    editable=editable}}
                </article>
                <article>
                    <div class="section-titles">
                        <input type="text" name="data.details.notes3name" value="{{data.details.notes3name}}"
                            placeholder="{{ localize 'PERGASHA.JournalQuests' }}" />
                    </div>
                    {{editor content=data.details.notes3.value target="data.details.notes3.value" button=true
                    owner=owner
                    editable=editable}}
                </article>
                <article>
                    <div class="section-titles">
                        <input type="text" name="data.details.notes4name" value="{{data.details.notes4name}}"
                            placeholder="{{ localize 'PERGASHA.JournalMisc' }}" />
                    </div>
                    {{editor content=data.details.notes4.value target="data.details.notes4.value" button=true
                    owner=owner
                    editable=editable}}
                </article>
            </div>
            <div class="right-notes note-entries">
                <article class="journal-notes">
                    <div class="section-titles">{{ localize 'PERGASHA.JournalEntries' }}</div>
                    {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner
                    editable=editable}}
                </article>
            </div>
        </div>
    </section>
</form>